@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --dstop-color-bg-primary: #fff;
  --dstop-color-bg-secondary: #3c9af0;

  --dstop-color-font-primary: #fff;
  --dstop-color-font-secondary: #5e5e5e;

  --dstop-color-card-border: #3c9af0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

html,
body {
  background-color: var(--dstop-color-bg-primary);
}

.dstop-container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}
